/* ===GENERAL=== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif; /*check from HTML head section to see possible font-weight options*/
}

/* ===HEADER=== */
.header-container{
  position: relative;
}

.menu-banner{
  background: linear-gradient(rgba(0, 0, 0, 0.301),rgba(0, 0, 0, 0.301));
  height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-banner i{
  flex-basis: 50%;
  font-size: 200%;
  padding: 20px;
/*   color: #BD7660;*/ 
  color: white;

}

.menu-banner h1{
  flex-basis: 50%;
  border: 4px solid white;
  color: white;
  padding: 5px;
  width: 150px;
  text-align: center;
}
.logo-container{
  margin-left: 15px;
}
.header-background{
  background-image: url(../images/devin-walker-homepage.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.header-background h1{
  color: rgba(240, 248, 255, 0.363);
  text-align: center;
  align-items: center;
}
.header-background h2{
  color: rgba(240, 248, 255, 0.363);
  text-align: center;
  align-items: center;
}

/* .logo-container{
  display: flex;
  flex-flow: row nowrap;
} */
/* ===PORTFOLIO=== */
.portfolio {
  padding: 80px 0;
}

.portfolio__container {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.portfolio__box {
  margin: 10px;
  height: 240px;
  width: 320px;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===MAIN=== */

/* ===FOOTER=== */
