/* ===GENERAL=== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  /*check from HTML head section to see possible font-weight options*/
}

/* ===HEADER=== */

/* .header-banner {
  height: 20vh;
  background-color: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  position: sticky;
  z-index: 999;
} */

header {
  background-image: url(../images/devin-walker-homepage.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 1%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-banner {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.logo-container {
  display: block;
  margin: 1rem;
  text-indent: -9999px;
  width: 200px;
  height: 82px;
  background: url(../assets/logo.svg);
  background-size: 200px 82px;
}

/* .logo-container h1 {
  border: 4px solid white;
  color: white;
  font-size: 200%;
  padding: 5px;
  width: 150px;
  text-align: center;
} */
.hamburger-menu {
  flex: 1;
  display: flex;
  margin: 20px;
  justify-content: flex-end;
}

.hamburger-menu i {
  font-size: 200%;
  padding: 20px;
  color: white;
}

/* ========== sticky menu ==========  */
.menu-banner-sticky {
  height: 8vh;
  width: 100%;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.menu-banner-sticky .logo-container h1 {

  font-size: 100%;
}

.logo-container {
  flex: 1;
  margin: 20px 0 25px 15px;
  padding: 60px 20px;
}

.logo-container h1 {
  border: 4px solid white;
  color: white;
  font-size: 200%;
  padding: 5px;
  width: 150px;
  text-align: center;
}

.hamburger-menu {
  flex: 1;
  display: flex;
  margin: 20px;
  justify-content: flex-end;
}

.hamburger-menu i {
  font-size: 200%;
  padding: 20px;
  color: white;
}

/* css for the disappearing menu */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding-left: 20px;

}

.overlay a {
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -10px;
  right: 65px;
  font-size: 40px;
}

/* ========== sticky menu ENDS ==========  */

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.header-text h1 {
  color: white;
  font-size: 325%;
  flex: 1;
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px 15px #000;
}

.header-text p {
  flex: 1;
  color: white;
  text-align: center;
  font-weight: 300;
  align-items: center;
  padding-top: 15px;
  text-shadow: 1px 1px 15px #000;

}

.arrow {
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: transparent;
  position: absolute;
  top: 90%;
  left: 50%;
}

.arrow i {
  width: 100%;
  font-size: 300%;
  color: white;
}

.placeholder-text {
  min-height: 40vh;
  max-height: 50vh;
  padding: 80px 30px !important;
  margin: 0 auto;
  align-items: center;
  background-color: #FAFAFA;
}

.placeholder-text p {
  color: #9E9E9E;
  text-align: center;
  line-height: 2;
  font-size: 150%;
  margin: auto auto;
}


/* ===PORTFOLIO=== */
.portfolio {
  padding: 80px 0;
  background: white;
}

.portfolio__container {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__photos {
  margin: 15px;
  height: 240px;
  width: 320px;
  background: #515151;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.portfolio__photos img {
  transition: all 0.5s;
}

.portfolio__photos img:hover {
  transform: scale(1.15);
  opacity: 0.2;
}

.portfolio__photos a:hover .portfolio__hidden-title {
  opacity: 1;
}

.heading-container {
  max-width: 1050px;
  padding: 5px;
  margin: 0 auto 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}

.heading-container p {
  margin-bottom: 25px;
}

.portfolio__button {
  border: solid 1px #b4b4b4;
  font-size: 80%;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.heading-title {
  font-size: 200%;

  font-weight: 400;
  margin-top: 25px;
}

.heading-title--white {
  color: white;
}

.heading-title--dark {
  color: #2b2b2b;
}

.portfolio__hidden-title {
  position: absolute;
  top: 40%;
  left: 40%;
  border: 1px white solid;
  padding: 15px;
  opacity: 0;
  color: white;

  transition: all 0.2s;
}



/* ===SERVICES=== */
.services {
  padding: 150px 0 150px 0;
  background: url(https://imdev.in/wp-content/uploads/2014/12/home-services.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.services__container {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.services__box {
  height: 240px;
  width: 320px;
  text-align: center;
  padding: 30px 5px;
}

.service__title {
  font-size: 110%;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  margin-bottom: 15px;
}

.services__paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-size: 102%;
}

.services__box img {
  margin-bottom: 25px;
}

/* =====ALBA==Blog====Contactme==== */
.section-head {
  font-size: 150%;
  font-weight: 320;
  margin-bottom: 0;
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-weight: 400;
}

.section-head-button {
  text-decoration: none;
  color: #b4b4b4;
  border: 2px solid #b4b4b4;
  text-align: center;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  font-size: 80%;
}

.section-head-button:hover {
  background: transparent;
  border: 2px solid #4b4b4b;
  color: #4b4b4b;
}

.title-link {
  text-decoration: none;
  color: black;
}

.title-link:hover {
  color: #a1a0a0;
}

.blog {
  padding: 80px 0;
}

.blog-holder {
  width: 90%;
  margin: 0 auto 25px auto;
  border-bottom: 1px dashed #ccc;
  padding: 0 0 55px;
}

.no-border {
  border-bottom: none;
}

.blog-heading {
  font-size: 200%;
  font-weight: 400;
  margin-bottom: 10px;
}

.publish-date {
  color: #b0b0ad;
  margin-bottom: 15px;
}

.publish-date a {
  color: #7d7d7b;
  text-decoration: none;
}

.blog__paragraph {
  margin-bottom: 30px;
}

.p-link:hover {
  color: #4b4b4b;
}

.blog__button {
  text-decoration: none;
  color: #b0b0ad;
  text-transform: uppercase;
  font-size: 80%;
  border: 1px solid;
  padding: 10px;
}

.blog__button:hover {
  background: transparent;
  border: 2px solid #4b4b4b;
  color: #4b4b4b;
}

/* =====Contact Me==== */
.ContactMe {
  padding: 150px 0 120px 0;
  background: url("../images/devin-amps.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact-container {
  font-size: 80%;
  text-align: center;
  font-family: "brandon-grotesque"sans-serif;
  margin-bottom: 30px;
  top: 40%;
  left: 40%;
  color: white;
  margin: 0 0 20px 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1.8;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 68px;
}

.heading-paragraph-white {
  font-size: 205%;
  margin-bottom: 25px;
}

.button-box-contactme {
  padding: 10px 30px;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 115%;
  background: transparent;
  color: white;
  border: 2px solid #b4b4b4;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}

.buttoncontactme {
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.test-section {
  height: 60vh;
}

.services__container {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.services__box {
  height: 240px;
  width: 320px;
  text-align: center;
  padding: 30px 5px;
}

.service__title {
  font-size: 110%;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  margin-bottom: 15px;
}

.services__paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-size: 102%;
}

.services__box img {
  margin-bottom: 25px;
}

/* ===FOOTER=== */

.center {
  width: 1000px;
  margin: 0 auto;

}

.t-title {
  text-align: center;
  margin: 2rem;
}

.t-title h6 {
  font-size: 1.9em;
  padding: 1rem;
}


.testimonial {
  display: flex;
  margin-bottom: 2rem;
  max-width: 100%;
  justify-content: space-between;

}

.testimonial div {
  width: 200px;
  border-radius: 50%;
}

.testimonial img {
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.testimonial div p {
  text-align: center;
  font-size: 1em;
  color: #989797;

}

.testimonial div p:nth-child(3) {
  text-align: center;
  padding: 1rem
}

footer {
  background: #F1F0F0;
}

.footer-object {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 3rem 0;
}

footer p {
  font-size: 1.2em;
  color: #989797;
}

strong {
  color: #646464;
}

.logo-footer {
  width: 170px;
  height: 53px;
  ;
}